In [ ]:
!pip install -U pandasql

In [ ]:
import pandas as pd
from pandasql import sqldf

In [ ]:
# Read the dataframes
winter = pd.read_csv("datasets/winter.csv")
dictionary = pd.read_csv("datasets/dictionary.csv")
summer = pd.read_csv("datasets/summer.csv")
tips = pd.read_csv("datasets/tips.csv")
orders = pd.read_csv("datasets/orders.csv")

In [ ]:
# Define the function used for the queries
pysqldf = lambda q: sqldf(q, globals())



# Funciones de SQL

## MAX & MIN

La función MAX() se utiliza para extraer datos el valor superior de un conjunto de datos.

```SQL
SELECT MAX(column_name) FROM table_name
SELECT MAX(column_name) FROM table_name WHERE condition
```
La función MIN() se utiliza para extraer datos el valor inferior de un conjunto de datos.

```SQL
SELECT MIN(column_name) FROM table_name
SELECT MIN(column_name) FROM table_name WHERE condition
```

In [ ]:
query = '''SELECT * 
           FROM tips'''

pysqldf(query)

In [ ]:
query = '''SELECT MAX(tip)
           FROM tips'''

pysqldf(query)

In [ ]:
query = '''SELECT MIN(tip) AS min_tip
           FROM tips'''

pysqldf(query)



**Ejercicios: Tabla tips** - diapositiva 51

*1.Mostrar el precio mínimo de la cuenta total como “SmallestBill” de la tabla tips*

In [ ]:
query = ''''''

pysqldf(query)

*1.Mostrar el precio máximo de la cuenta total como “LargestBill” de la tabla tips*

In [ ]:
query = ''''''

pysqldf(query)



## COUNT, AVG & SUM

La función COUNT() devuelve el numero de filas de un conjunto de datos.
```SQL
SELECT COUNT(column_name) FROM table_name
SELECT COUNT(column_name) FROM table_name WHERE condition
```
La función AVG() devuelve la media de una columna numérica de un conjunto de datos.
```SQL
SELECT AVG(column_name) FROM table_name
SELECT AVG(column_name) FROM table_name WHERE condition
```

La función SUM() devuelve la suma de una columna numérica de un conjunto de datos.
```SQL
SELECT SUM(column_name) FROM table_name
SELECT SUM(column_name) FROM table_name WHERE condition
```

In [ ]:
query = '''SELECT COUNT(*) AS total_services
           FROM tips'''

pysqldf(query)

In [ ]:
query = '''SELECT AVG(total_bill) AS avg_bill
           FROM tips'''

pysqldf(query)

In [ ]:
query = '''SELECT SUM(tip) AS total_tips
           FROM tips'''

pysqldf(query)



**Ejercicios:** - diapositivas 54 y 55

*1.Mostrar el número de registros de la tabla winter.*

In [ ]:
query = ''''''

pysqldf(query)

*2.Mostrar el número medio de clientes que visitan el restaurante los sábados.*

In [ ]:
query = ''''''

pysqldf(query)

*3.Mostrar el sumatorio de cuentas facturadas.*

In [ ]:
query = ''''''

pysqldf(query)

*4. Mostrar el sumatorio de propinas recogidas el fin de semana.*

In [ ]:
query = ''''''

pysqldf(query)



## CASE WHEN

La instrucción CASE pasa por condiciones y devuelven un valor cuando se cumple la primera condición (como una instrucción IF-THEN-ELSE). Así, una vez que la condición es verdadera, se dejará de leer y devolver el resultado. Si las condiciones no son true, devuelve el valor de la cláusula ELSE. 

Si no hay ninguna otra parte y no tienen condiciones true, devuelve NULL.

```SQL
SELECT Column_name, ...
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    WHEN conditionN THEN resultN
    ELSE result
END
FROM table_name
```

In [ ]:
query =  '''SELECT total_bill, tip, 
            CASE WHEN tip < 1 THEN "Poca propina" 
            WHEN tip>=1 AND tip<2 THEN "Propina aceptable" 
            WHEN tip>=2 THEN "Buena propina" 
            ELSE "No hubo propina" END AS Mensaje FROM tips '''

pysqldf(query)



**Ejercicios:** - diapositiva 58

*1.Mostrar el día de la semana, el número de comensales y el resultado de una instrucción CASE WHEN que muestre un mensaje indicando si la cuenta total es:*

* Menor a 10
* Entre 10 y 30
* Mayor a 30

*para la tabla tips.*

In [ ]:
query =  ''''''

pysqldf(query)



## FUNCIONES CON VALORES NULOS

Existen dos funciones principales que trabajan con valores nulos:
* IFNULL() : permite devolver otro valor en caso de que sea nulo
* COALESCE() : compara dos valores y en el caso de que el primero sea nulo devuelve el segundo

In [ ]:
query = '''SELECT IFNULL(Population, -999) AS Population
           FROM dictionary '''

pysqldf(query)

In [ ]:
query = '''SELECT IFNULL(GDP, 0) AS Population
           FROM dictionary '''

pysqldf(query)

In [ ]:
query = '''SELECT *,COALESCE(GDP, Population) AS NotNulls
           FROM dictionary '''

pysqldf(query)

## GROUP BY 

La sentencia GROUP BY se utiliza a menudo con funciones de agregado (COUNT, MAX, MIN, SUM, AVG) para agrupar el conjunto de resultados por una o más columnas.

```SQL
SELECT column_name(s) FROM table_name WHERE condition GROUP BY column_name(s)
```

Ya habíamos visto las funciones de agregación. Con GROUP BY, en lugar de tener el total para toda la tabla, podemos tenerlos por grupos

In [ ]:
query = '''SELECT SUM(tip), AVG(total_bill), COUNT(*)
           FROM tips '''

pysqldf(query)

In [ ]:
query = '''SELECT Day, SUM(tip), AVG(total_bill), COUNT(*)
           FROM tips 
           GROUP BY Day '''

pysqldf(query)

***Ejercicios*** - diapositiva 63

*1.Mostrar el número de clientes que visitaron el restaurante por días de la semana.*

In [ ]:
query = ''''''

pysqldf(query)

*2.Mostrar la media de propinas (redondeada a dos dígitos) recogidas en función del género.*

In [ ]:
query = ''''''

pysqldf(query)

*3. Mostrar la cuenta media según si los clientes estaban o no en mesa de fumadores.*

In [ ]:
query = ''''''

pysqldf(query)



## HAVING

La cláusula HAVING se agregó a SQL porque la cláusula WHERE no se podía utilizar con funciones de agregado.
```SQL
SELECT column_name(s) FROM table_name GROUP BY column_name(s) HAVING condition ORDER BY column_name(s)
```

Vamos a filtrar los días en los que la suma de todas las cuentas sea superior a 1500

In [ ]:
query = '''SELECT day, SUM(total_bill)
           FROM tips 
           GROUP BY day '''

pysqldf(query)

**Ejercicio** - diapositiva 65

*1. Mostrar el día y la media de la cuenta para cada día, para aquellos días que el total de propina sea superior a 200.*

In [ ]:
query = ''''''

pysqldf(query)