In [ ]:
!pip install -U pandasql

In [ ]:
import pandas as pd
from pandasql import sqldf

In [ ]:
# Read the dataframes
nomina = pd.read_csv("datasets/nomina.csv", sep=';')
pension = pd.read_csv("datasets/pension.csv", sep=';')

winter = pd.read_csv("datasets/winter.csv")
summer = pd.read_csv("datasets/summer.csv")

dictionary = pd.read_csv("datasets/dictionary.csv")

employees = pd.read_csv("datasets/employees.csv")

In [ ]:
# Define the function used for the queries
pysqldf = lambda q: sqldf(q, globals())

## UNION 

Se utiliza el operador UNION para combinar los resultados de dos o más sentencias SELECT.
* Cada instrucción SELECT dentro de UNION debe tener el mismo número de columnas.
* Las columnas también deben tener tipos de datos similares.
* Las columnas de cada instrucción SELECT también deben estar en el mismo orden.

```SQL
SELECT column_name(s) FROM table1 UNION SELECT column_name(s) FROM table2
```

El operador UNION sólo selecciona distintos valores por defecto (como un DISTINCT). Para permitir valores duplicados, utilice UNION ALL (recomendado).

```SQL
SELECT column_name(s) FROM table1 UNION ALL SELECT column_name(s) FROM table2
```

In [ ]:
query = '''SELECT *
           FROM winter
           UNION ALL 
           SELECT *
           FROM summer'''

pysqldf(query)

**Ejercicios** - diapositiva 68

*1. Mostrar los eventos de la tabla winter que se celebraron en la ciudad de Turin. Unir el resultado con los eventos que se celebraron en London de la tabla summer. Ordenalos por año de más a menos reciente*

In [ ]:
query = ''''''

pysqldf(query)

*2. Mostrar todos los deportes que se realizaron en los juegos de invierno. Unir el resultado con los deportes que se realizaron en los juegos de verano.*

In [ ]:
query = ''''''

pysqldf(query)

# JOINS - TEMA 6

Antes de hacer los JOINs, vamos a visualizar las tablas

In [ ]:
query = '''SELECT *
           FROM nomina'''

pysqldf(query)

In [ ]:
query = '''SELECT *
           FROM pension'''

pysqldf(query)




## INNER JOIN
La palabra clave INNER JOIN selecciona registros que tengan valores coincidentes en ambas tablas.

```SQL
SELECT column_name(s) FROM table1 INNER JOIN table2 ON table1.column_name = table2.column_name
```

**Ejercicios: Tablas nomina y pension** - diapositiva 74



*1.
Mostrar en una única tabla el nombre del cliente, el saldo de la cuenta nómina, el del plan de pensiones y si tiene o no hipoteca, sólo para
aquellos IDs de cliente que coincidan en
ambas tablas.*

In [ ]:
query = ''''''

pysqldf(query)



## LEFT JOIN 
La palabra clave LEFT JOIN devuelve todos los registros de la tabla izquierda (tabla1), y los registros coincidentes de la tabla derecha (tabla2). El resultado es NULL desde el lado derecho, si no hay ninguna coincidencia.
```SQL
SELECT column_name(s) FROM table1 LEFT JOIN table2 ON table1.column_name = table2.column_name
```
**Ejercicios:** - diapositiva 76



*1.
Mostrar en una única tabla el nombre del cliente, el saldo de la cuenta nómina, el del plan de pensiones y si tiene o no hipoteca. Se
desean mostrar todos los nombres de clientes de
la tabla nóminas, exista o no coincidencia
con la tabla plan de pensiones.*

In [ ]:
query = ''''''

pysqldf(query)



## RIGHT JOIN
La palabra clave RIGHT JOIN devuelve todos los registros de la tabla derecha (tabla2), y los registros coincidentes de la tabla izquierda (tabla1). El resultado es NULL desde el lado izquierdo, cuando no hay ninguna coincidencia.
```SQL
SELECT column_name(s) FROM table1 RIGHT JOIN table2 ON table1.column_name = table2.column_name
```


**Ejercicio** - diapositiva 78

*1.
Mostrar en una única tabla el nombre del cliente, el saldo de la cuenta nómina, el del plan de pensiones y si tiene o no hipoteca. Se
desean mostrar todos los nombres de clientes de
la tabla plan de pensiones, exista o no coincidencia
con la tabla nóminas.*

In [ ]:
query = ''''''

pysqldf(query)



## FULL OUTER JOIN

La palabra clave FULL OUTER JOIN devolverá todos los registros cuando hay una coincidencia de en la tabla izquierda (Tabla 1) o en la tabla derecha (tabla 2). 

*Nota: ¡FULL OUTER JOIN puede devolver un conjunto de resultados muy grande!*

```SQL
SELECT column_name(s) FROM table1 FULL OUTER JOIN table2 ON table1.column_name = table2.column_name
```

NOTA: el RIGHT y el FULL OUTER JOIN no están soportados en esta versión de SQL


**Ejercicio** - diapositiva 80

*1.
Mostrar en una única tabla el nombre del cliente, el saldo de la cuenta nómina, el del plan de pensiones y si tiene o no hipoteca. Se
desean mostrar todos los nombres de clientes de
la tabla plan de pensiones y de la tabla nóminas.*

In [ ]:
query = ''''''

pysqldf(query)



## SELF JOIN
Un SELF JOIN es un JOIN regular, pero la tabla está unida a sí misma. 

Unirse a una tabla en sí misma significa que cada fila de la tabla se combina consigo misma y con cada otra fila de la tabla.

```SQL
SELECT T1.column_name, T2.column_name... FROM table1 T1 JOIN table2 T2 ON condition
```

**Ejercicios: Tabla employees**

In [ ]:
query = '''SELECT *
           FROM employees '''

pysqldf(query)



*1.
Mostrar el ID de empleado, el nombre de
empleado, el ID de supervisor y el nombre
de supervisor para todos aquellos
empleados que tengan algún supervisor.*

In [ ]:
query = ''''''

pysqldf(query)


## SUBSELECT

Una subconsulta (o subselect) es una consulta dentro de otra consulta SQL, integrada dentro de una cláusula WHERE. 

```SQL 
SELECT column_name [, column_name ] FROM   table1 [, table2 ] WHERE  column_name OPERATOR
(SELECT column_name [, column_name ] FROM table1 [, table2 ] [WHERE])
```

Es útil cuando necesitamos obtener un valor con una consulta para utilizarlo dentro de otra. Por ejemplo, vamos a obtener los datos de los medallistas de las primeras olimpiadas.

Primero, tenemos que ver qué año es el más bajo (utilizando la función MIN)

In [ ]:
query = '''SELECT MIN(Year)
           FROM winter'''

pysqldf(query)

Ahora, podemos meter esa subconsulta dentro de un WHERE para quedarnos los datos que queremos

In [ ]:
query = '''SELECT *
           FROM winter
           WHERE Year = (SELECT MIN(Year)
                         FROM winter)'''

pysqldf(query)

***Ejercicios: Tablas winter y dictionary*** - diapositiva 86

*1. Mostrar el nombre del atleta y su medalla para todos aquellos que provengan de un país con un GDP per Capita inferior a 3000*

In [ ]:
query = ''''''

pysqldf(query)